@media screen and (min-width: 1614px) {
  .inside-card {
    max-width: 25rem;
    max-height: 18rem;
  }
  .card {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 1612px) {
  .inside-card {
    max-width: 24rem;
    max-height: 17rem;
  }
  .card {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 1066px) {
  .inside-card {
    max-width: 22rem;
    max-height: 15rem;
  }
  .card {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 888px) {
  .inside-card {
    max-width: 20rem;
    max-height: 13rem;
  }

  .all-contact {
    /* margin: auto; */
    width: 40rem;
  }
  .input input {
    width: 40rem;
  }
  #text-area {
    max-width: 40rem;
    min-width: 40rem;
  }
}

@media screen and (max-width: 888px) {
  .all-contact {
    width: 30rem;
  }
  .input input {
    width: 30rem;
  }
  #text-area {
    max-width: 30rem;
    min-width: 30rem;
  }
  .header-text {
    font-size: 32px;
  }
}

@media screen and (max-width: 600px) {
  .all-contact {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .input input {
    width: 23rem;
  }
  #text-area {
    max-width: 23rem;
    min-width: 23rem;
  }
  .inside-btn {
    margin-top: 2rem;
  }
  .inside-btn {
    width: 10rem;
    height: 3rem;
    font-size: 15px;
  }
  .about {
    background-color: var(--green-color);
    height: 35rem;
  }

  .inside-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .inside-nav h1 {
    font-size: 20px;
  }

  .inside-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .inside-nav li {
    font-size: 10px;
    margin-left: 0;
    margin-right: 1rem;
  }

  .inside-header {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header-text {
    margin-top: 2rem;
    font-size: 25px;
  }

  .header-text p {
    font-size: 18px;
  }

  .contact-button {
    width: 5rem;
    height: 3rem;
  }
}
