html.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --first-color: #2c3e50;
  --white-color: #fff;
  --green-color: #1abc9c;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: row;
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}

.star {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.star i {
  color: var(--first-color);
  font-size: 32px;
}

.star p {
  font-size: 30px;
  font-weight: 800;
  color: var(--first-color);
}

.star-white {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.star-white i {
  color: var(--white-color);
  font-size: 32px;
}

.star-white p {
  font-size: 30px;
  font-weight: 800;
  color: var(--white-color);
}
/* ...............................nav................................. */

.nav {
  width: 100%;
  background-color: var(--first-color);
  position: fixed;
  top: 0;
}

.inside-nav {
  justify-content: space-between;
  padding: 1rem;
}

.inside-nav h1 {
  color: var(--white-color);
  font-family: "Montserrat Subrayada", sans-serif;
}

.inside-nav li {
  list-style: none;
  margin-left: 1rem;
  padding: 0.5rem;
}

.inside-nav a {
  text-decoration: none;
  color: var(--white-color);
  font-family: "Montserrat Subrayada", sans-serif;
  transition: 300ms;
}

.nav a:hover {
  color: var(--green-color);
}

/* ...............................header................................. */

.header {
  width: 100%;
  background-color: var(--green-color);
}

.inside-header {
  padding: 10rem;
}

.header-text {
  margin-top: 3rem;
  color: var(--white-color);
  font-size: 40px;
  font-family: "Montserrat Subrayada", sans-serif;
}

.header-text p {
  font-size: 25px;
}

.header-img {
  width: 15rem;
  height: 15rem;
  margin-bottom: 2rem;
}

/* ...............................main................................. */

.main {
  width: 100%;
}

.portfolio h1 {
  color: var(--first-color);
  margin: 0;
  padding-top: 4rem;
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 45px;
}

.main-star {
  padding-bottom: 4rem;
}

.card {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  padding-bottom: 7rem;
}

.inside-card {
  max-width: 25rem;
  max-height: 18rem;
  border-radius: 15px;
}

.inside-card:hover {
  transform: translateY(-10px);
  opacity: 0.7;
}

/* ...............................About................................. */

.about {
  background-color: var(--green-color);
  height: 33rem;
}

.about-titre h1 {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 45px;
  color: var(--white-color);
  padding-top: 4rem;
}

.inside-about {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.inside-container-1 {
  width: 50%;
  height: 12rem;
  display: flex;
  justify-content: flex-end;
}

.inside-container-2 {
  width: 50%;
  height: 12rem;
}

.inside-about p {
  font-family: "Montserrat Subrayada", sans-serif;
  color: var(--white-color);
  font-size: 18px;
}

.inside-p {
  max-width: 25rem;
}

.about-btn {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.inside-btn {
  background-color: transparent;
  border: var(--white-color) 2px solid;
  color: var(--white-color);
  width: 14rem;
  height: 4rem;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  transition: 300ms;
}

.inside-btn:hover {
  background-color: var(--white-color);
  color: var(--first-color);
}

/* ...............................Contact Me................................. */

.contact-form {
  background-color: var(--green-color);
}

.all-contact {
  margin: auto;
  width: 45rem;
  height: 49rem;
}

.contact-titre h1 {
  margin-top: 2rem;
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 45px;
  padding-top: 4rem;

  color: var(--first-color);
}

.input input {
  width: 45rem;
  height: 7rem;
  border: none;
  border-bottom: rgba(0, 0, 0, 0.298) solid 1px;
}

#text-area {
  padding-top: 3rem;
  max-width: 45rem;
  min-width: 45rem;
  height: 5rem;
  border: none;
  border-bottom: rgba(0, 0, 0, 0.298) solid 1px;
}

:placeholder-shown {
  font-size: 23px;
}

.contact-btn {
  padding-top: 3rem;
}

.contact-button {
  width: 7rem;
  height: 4rem;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  background-color: var(--green-color);
  color: var(--white-color);
}

.contact-button:hover {
  width: 7.1rem;
  height: 4.1rem;
}

.all-contact > *:nth-child(3) {
  display: flex;
  justify-content: flex-start;
}

.inputs:focus {
  outline: none;
}

/* ...............................Footer................................. */

.footer {
  background-color: var(--first-color);
}

.inside-footer {
  padding-top: 3rem;
  margin-top: 5rem;
  height: 17rem;
  text-align: center;
}

.location {
  width: 33.33%;
}

.social-media {
  width: 33.33%;
}

.freelancer {
  width: 33.33%;
}

.footer h2 {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 23px;
  color: var(--white-color);
}

.footer p {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 17px;
  color: var(--white-color);
}

.freelancer a {
  color: green;
}

.icon i {
  color: var(--white-color);
  border: 2.5px solid white;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 3rem;
  transition: 300ms;
}

.icon i:hover {
  background-color: var(--white-color);
  color: var(--first-color);
}

/* ...............................Copyright................................. */

.copyright {
  background-color: #1a252f;
  text-align: center;
}

.copyright p {
  margin: 0;
  padding: 2rem;
  color: var(--white-color);
  font-family: "Montserrat Subrayada", sans-serif;
}

/* ...............................Media................................. */
